# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual Environments
venv/
env/
.venv/
ENV/

# Environment variables
.env

# Postgres persistent data
postgres_data/

# Docker
*.log

# Flask cache
instance/

# Distribution / packaging
dist/
build/
*.egg-info/